<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dotinstall.secaiderf2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/secaide_icon1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/secaide_icon1"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".PostLoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dotinstall.secaiderf2.SplashActivity" android:label="se･ca･ide"></activity>
        <activity android:name="com.dotinstall.secaiderf2.Koredake" android:label="se･ca･ide"></activity>
        <activity android:name="com.dotinstall.secaiderf2.Biposi" android:label="se･ca･ide"></activity>
        <activity android:name="com.dotinstall.secaiderf2.HealthCareData" android:label="se･ca･ide"></activity>
        <activity android:name="com.dotinstall.secaiderf2.MainActivity" android:label="se･ca･ide"></activity>


    </application>

</manifest>